$font-stack: 'Roboto', sans-serif;
$primary-color: #232323;
$secondary-color: #6b6b6b;
$subtle-text-color: #8f8f8f;

$separator-color: #e3e3e3;

$box-shadow: 3px 2px 3px 0px rgba(0,0,0,0.12);

$background-color: white;